---
import { album_ids } from "../db/my_collection.json";
import HangerImage from "./HangerImage.astro";
import { getAccessToken, getAlbumDetails } from "../scripts/spottify-api";

const access_token = await getAccessToken();
console.log(access_token);
---

<section class="flex flex-row flex-wrap gap-10 items-center justify-center">
  {
    album_ids.map(async (id) => {
      const data = await getAlbumDetails(id);

      const artwork_uri = data["images"][0]["url"];

      const albumName = data["name"];
      const artist = data["artists"][0]["name"];

      return (
        <HangerImage
          imageUrl={artwork_uri}
          altText={`Artwork form the album ${data["name"]} by ${data["artists"][0]["name"]}`}
          albumName={data["name"]}
          artists={artist}
        />
      );
    })
  }
</section>
