---
import Logo from "../assets/icons/logo.svg";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,429;1,429&display=swap"
      rel="stylesheet"
    />

    <title>Wynl</title>
  </head>
  <body class="light">
    <header>
      <Logo width={90} />
      <h1>Wynl.</h1>
    </header>
    <main class="bg-bgc-main">
      <slot />
    </main>
    <footer>
      <h3>Roberto Wong and Emmy Fonseca's collection</h3>
      <h3>Lisen and chill</h3>
    </footer>
  </body>
</html>
